@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/global.css */

/* Pastikan body memiliki padding di bagian atas untuk menghindari gambar tertutup oleh navbar */
body {
  margin: 0;
  padding-top: 60px; /* Sesuaikan dengan tinggi navbar Anda */
  display: flex;
  flex-direction: column;
  align-items: center;
  @apply bg-cover bg-center bg-fixed;
  background-image: url("/background.jpg");
}

/* Atur gambar agar responsif dan mempertahankan rasio aslinya */
.responsive-image-container {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 10px;
}

.responsive-image-container img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
}
